<!-- <%= render 'shared/more' %> -->
<div id="container">
  <h1><%= @job.title %></h1>
  <%= link_to 'Publish', job_path(@job, :published => true), :method => :put %>
  <h3><%= @job.company %><br><%= @job.location %><br><%= link_to @job.url %></h3>
  
  <hr>
  <h3>Description</h3>
  <p class="job-description"><%= @job.description %></p>
  <section id="apply">
  <div id="why-apply">
  <h3>How we instruct Apprentices</h3>
  <p><%= @job.reason %></p>
  </div>
  <div id="next-steps">
  <h3>How to apply for this Apprenticeship</h3>
  <p><%= @job.inquiry %></p>
  </div  
  </section>
</div>
<%= render 'shared/footer' %>