<div id="container">
<div class="job-header">
  <div class="input-search">
    <input type="text">
  </div>
  <div class="new-btn">
      <%= link_to "Post a new Job", new_job_url, class: "button"%>
  </div>
</div>
<div class="jobs">
  <ul>
    <% @jobs.each do |job| %>
<a href="/jobs/<%= job.id %>">
    <li class="job">
      <div class="job-info">
        <span class="location"><%= job.location %></span>
        <span class="title"><%= job.title %></span> at
        <span class="company"><%= job.company %></span>.
      </div>
      <div class="date">
        <span><%= job.created_at.to_date.strftime("%b %m") %></span>
      </div>
    </li></a>
  <% end %>
  </ul>
</div>  
</div>
<%= render 'shared/footer' %>