<div id="container">
<h2 style="display:inline-block; padding-bottom:15px">Create your Apprenticeship</h2>
<p style="display:inline-block; padding-bottom:15px">(Apprenticeships will be added upon review)</p>
<hr>
<%= form_for @job do |job| %>

<% if @job.errors.any? %>
  <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
  <ul>
    <% @job.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "create_job_step", :job => job %>
 
<div><%= job.submit "Continue" %></div>

<% end %>

</div>