<div id="container">
<h2>Step 1: Create your ad</h2>
<hr>
<%= form_for @job, url: jobs_preview_url do |job| %>

<% if @job.errors.any? %>
  <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
  <ul>
    <% @job.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "create_job_step", :job => job %>
 
<div><%= job.submit "Continue" %></div>

<% end %>

</div>