<%= render 'shared/shortcuts' %>
<div id="container">
<h1>About</h1>
<h2>Software Apprenticeships</h2>
<p>The demand for good developers outweighs the supply. Ralph & Dave built this site (using Ruby on Rails) for two reasons; <br> 
  1. So Ralph and Dave could find Apprenticeships when they complete <%= link_to "Code Academy", "http://www.codeacademy.org", class:"contaact" %><br>
  2. To connect Software Shops with the next generation of Software Craftsmen and Craftswomen.</p>

<section id="bios">
  <section id="col1">
    <%= image_tag "ralph.jpg", class: "photos" %>
  <h2>Ralph Wintle</h2>
  <h3>Currently Seeking an Apprenticeship!</h3>
  <a href="https://twitter.com/ralphwintle" class="twitter-follow-button" data-show-count="false">Follow @ralphwintle</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <p>Ralph hails from Hong Kong. He came to Code Academy to learn to build Web Apps and to find a Software Apprenticeship when he is done. <br>Please <%= mail_to "ralph.wintle@gmail.com", "Contact Ralph", class:"contact" %> if you are in need of a Software Apprentice!</p>
  </section>
  <section id="col2">
    <%= image_tag "dave.jpg", class: "photos" %>
  <h2>Dave Woodall</h2>
  <h3>Currently Seeking an Apprenticeship!</h3>
  <a href="https://twitter.com/dmwoodall" class="twitter-follow-button" data-show-count="false">Follow @dmwoodall</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <p>Dave moved his family in with the In-Laws so that he could attend Code Academy. He is from Denver, but willing to relocate anywhere for a Software Apprenticeship! (Seriously!) <br>Please <%= mail_to "dave@AMB3R.com", "Contact Dave", class:"contact" %> if you are in need of a Software Apprentice!</p>
  </section>
</section>
</div>
<%= render 'shared/footer' %>