<%= render 'shared/shortcuts' %>
<div id="container">
  <h2>Current Apprenticeship Programs</h2>
<h3>Face to Face</h3>
<%= image_tag "CAlogo.png", class: "programs" %>
<h4>Code Academy</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

<%= image_tag "CAlogo.png", class: "programs" %>
<h4>Code Academy</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

<%= image_tag "CAlogo.png", class: "programs" %>
<h4>Code Academy</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

<%= image_tag "CAlogo.png", class: "programs" %>
<h4>Code Academy</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

<h3>Online Apprenticeships</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<%= render 'shared/footer' %>