<%= render 'shared/shortcuts' %>
<div id="container">
  <h1>Apprenticeship Primers</h1>

  <p>New to programming? Consider one of these apprenticeship primers.</p>

  <h2><%= link_to "Code Academy", "http://codeacademy.org/"%></h2>
  <p>Beginner-focused. 3 months. Downtown Chicago. Code Academy is a game changer for your career.</p>

  <h2><%= link_to "Dev Bootcamp", "http://devbootcamp.com/"%></h2>
  <p>A 10-week intensive bootcamp to turn passionate learners into world-class beginners.</p>

  <h2><%= link_to "Hacker School", "https://www.hackerschool.com/"%></h2>
  <p>A three-month, full-time school in New York for becoming a better programmer. We're free as in beer, and provide space, a little structure, time to focus, and a friendly community of smart builders dedicated to self-improvement.</p>
</div>
<%= render 'shared/footer' %>